// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&display=swap');

//Font variables
$font-body: Poppins, sans-serif;
$font-articles: Inter, sans-serif;

// color variables
$primary-color:#f5b041;
$footer-color: #2e4053;
$button-color: #0b5345;
$outline-color:#f1c40f;
$footer-text-color: #f0f3f4;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  
}