// footer
footer.footer.bg-dark.py-5
  .container.grid.grid-4
    div
      h1.sm Fantastic Tutors
      p Copyright © 2020
    nav
      h3 Quick Links
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About us
        li
          a(href="/contact") contact us
    div
      h3 Legal
      ul
        li
          a(href="privacy.html") Privacy Policy
        li
          a(href="terms.html") Terms of Use
    .social
      a(href="#")
        i.fab.fa-instagram.fa-2x
      a(href="#")
        i.fab.fa-facebook.fa-2x
      a(href="#")
        i.fab.fa-twitter.fa-2x
