footer.footer
  .container
    .split
      .footer__item
        p.footer__details Fantastic tutors, we help you with your project work and school assignments
        p.footer__details Countless number of clients have used our platform to get help with their school projects and assignments

      .footer__item
        h3.footer__title Contact Us
          .location__info
            p.footer__details
              small Nairobi, Kenya
          .contact__info
            p.footer__details
              small +254701020304
            p.footer__details
              small Our online support is here to help you 24 hours 

      .footer__item
        h3.footer__link Links
        ul.footer__list
          li.item__list: a.link(href="#") Home
          li.item__list: a.link(href="#") About Us
          li.item__list: a.link(href="#") Find a tutor
          li.item__list: a.link(href="#") Blog
  .copyright
    p.footer__details All right reserved &copy; Fantastic Tutors 2020