nav
  .logo 
    h3 Fantastic Tutors
  ul.nav__links
    li
      a(href="#") Home
    li
      a(href="#") About
    li
      a(href='/login') Login
    li
      a(href='/signup') signup
  .burger
    .line1
    .line2
    .line3
