nav
  .logo 
    a.link__logo(href='/')
      h3 Fantastic Tutors
  ul.nav__links
    if user
      li
        a(href="/overview") Home
      l1
        a.logout__btn Logout
      li
        a(href='/account') 
          img.nav__user-img(src=`images/users/${user.photo}` alt=`Photo of ${user.photo}`)
          span= user.name.split(' ')[0]
    else
      
      li
        a(href="#") About
      li
        a(href='/login') Login
      li
        a(href='/signup') signup
        
  .burger
    .line1
    .line2
    .line3
