header.header
  nav.nav.nav__header
    a.nav__el(href='#') Fantastic Tutors
  .header__logo
    img(src='images/logo-fanstastic.png' alt='Fantastic  logo')
  nav.nav.nav__user
    //- a.nav__el(href='#') My Jobs
    //- a.nav__el(href='#')
    //-   img.nav__user-img(src='images/user.jpg' alt='User photo')
    //-   span Ian
    button.nav__el.nav__el--cta Log In
    button.nav__el.nav__el--cta Sign Up
.hero
    .container.spacing
      h1.primary-title Fantastic Tutors for projects and assignments
      p Fantastic tutors is an online tutor website where we help people with their projects and assignments
      a.btn(href='#') Find a tutor