.navbar
  .container.flex
    h1.logo
      a(href='/') Fantastic Tutors
    nav.nav
      ul
        if user 
          li
            a(href='/overview') overview
          li
            a(href='/account') Account
          li
            a.nav__el.nav__el-logout Log Out
        else
          
          li
            a(href='/login') Login
          li
            a(href='/signup') Signup
      .burger
        span
        span
        span
