extends base
block content
  secion.about-head.bg-primary.py-3
    .container.grid
      .about
        h1.xl About Us
        p.lead 
        | We are an Online Service providing tutor service for all your Essay writing projects and assignments. We are always here for you 
      .image
        img(src='images/docs.png' alt='contact image')
          
  section.services.bg-light
    .container.grid
      .card.flex
        i.fas.fa-server.fa-3x
        p
           | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat corrupti, sed ad, reprehenderit accusamus
           | porro perspiciatis quae explicabo assumenda aperiam aliquid cumque itaque minima odit dicta repellat nam iusto
           | fugiat!
      .card.flex
        i.fas.fa-network-wired.fa-3x
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          | recusandae perferendis culpa, reiciendis a itaque debitis qui vel
          | dignissimos ipsum!
      .card.flex
        i.fas.fa-laptop-code.fa-3x
        p
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
          | magnam.
      .card.flex
        i.fas.fa-database.fa-3x
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, a!
      .card.flex
        i.fas.fa-power-off.fa-3x
        p
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
          | magnam.
      .card.flex
        i.fas.fa-upload.fa-3x
        p
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
          | magnam.
