doctype html
html
  head
    title Fantastic Tutors
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  body
    h1 Welcome To Fantastic Tutors
    p This is just some text
  