extends base
block content
  secion.contact-head.bg-primary.py-3
    .container.grid
      .contact
        h1.xl Contact Us
        p.lead 
        | We are an Online Service providing tutor service for all your Essay writing projects and assignments. We are always here for you 
      .image
        img(src='images/docs.png' alt='contact image')
            
  section.contact-sub-head.bg-light
    h3.md.text-center.my-4 Fell free to contact us at any time
    .continer.grid
      .support-content.flex.my-4
        i.fas.fa-phone.fa-3x
        p call us through +254710203040
      .support-content.flex
        i.fas.fa-envelope.fa-3x
        p Email us at support@fantastictutors.com
//- <i class="fas fa-phone"></i>
//- <i class="fas fa-envelope"></i>
