extends base
block content
  section.showcase.resetPassword
    .container.grid
      h3.md Enter Email to reset Password
      .showcase-form.forgotPassword-form.card
        form.form-group
          .form-control
            label(for='email') Email
            input#email(type='email' name='email' placeholder='you@example.com' required)
          input.btn.btn-primary(type='submit' value='Send')
