extends base
block content
  .center
    .title
      h3 Enter Email to reset password
      form.form.form__forgotPassword
        .txt_field
          label.form__label(for='email') Email address
          input#email.text_area(type='email' placeholder='you@example.com')
        input.btn(type='submit' value='send')
