extends base
block content
  main.main 
    section.forgotPassword__section
      .container.grid
        .my-2.p-2
          .header__section
            h2.md.text-center.my-2 Enter email to send reset password
          .user-forgotPassword__form
            .card
              form.form__forgotPassword.my-1
                .form__group.p-1
                  label.form__label(for="email") Email address
                  input#email.form__control(type="email" required="" name="email")
                .form__group.my-1.p-3
                  button.btn.btn--small.btn--send-Email Send
