extends base
block content
  
  //- section.hero
  //-   .container.grid
  //-     .hero-text
  //-       p.lead Fantastic tutors is an online tutor website where we help people with their projects and assignments
  section.showcase
    .container
      h3.stats-heading.text-center.my-1.lg.text-primary What We have to Offer
      .grid.grid-3.text-center.my-4
        .showcase-content
          img(src='images/accademic.jpeg' alt='accademic writting')
          h3 accademic writing
          p Our Team at fantastic tutors has the best and most qualified accademic writers whom are going to help you writer the best and correct accademic reports
        .showcase-content
          img(src='images/content.png' alt='content writting')
          h3 content writing
          p Our Team at fantastic tutor is able to write contet for you websites, magazines and many more. Name it we got you covered
        .showcase-content
          img(src='images/literature3.jpeg' alt='literature writting')
          h3 literature review
          p Out Team here at fantastic Tutors aims at helping you score the best grades in your accademic studies. We tutor you and also help you review your liturature. Rely on us and we will help you boost your accademic confidence.
  section.tutors.bg-primary
    h2.md.text-center.my-2
     | Our tutors
     p.lead Our Tutors are here to help with any of your projects
    .container.flex
      .card
        h4 James Wandiri
        img(src='images/jamo.jpg' alt='tutor image')
      .card
        h4 Sheila Nyaweh
        img(src='images/nyaweh.jpg' alt='tutor image')
      .card
        h4 Rosemary Njeri
        img(src='images/njeri.jpg' alt='tutor image')
      .card
        h4 Huddson Kibera
        img(src='images/huddson.jpg' alt='tutor image')
          
  section.stats.bg-light
   .container
     h3.stats-heading.text-center.my-1.md
       |We are still building our reputation but you can still count on us
     .grid.grid-3.text-center.my-4
       div
         i.fas.fa-handshake.fa-5x
         h3 Increasing
         p.md Partners
       div
         i.fas.fa-upload.fa-5x
         h3 310
         p.md Orders Placed
       div
         i.fas.fa-project-diagram.fa-5x
         h3 300
         p.md Orders completed
         

      
