extends base
block content
  section.overview
    .container
      .grid.my-3
        .overview-section
          h2.md Ian Githungo
        .overview-section-btn
          a.btn(href='/postJob') Post a Job
          
  section.jobs.bg-light
    .container.jobs-card
      h3.lead My Job Postings
      .grid.my-3
        .job-continer.grid
          a.single-job(href='#').jobs-card.shadow
            .job-card
              .job-title
                h3.text-primary I am Looking for a content writer who is 
                | going to be able to write content for our upcomming website
              .job-details.grid-3
                .price
                  h3.sm 
                    i.fas.fa-dollar-sign.m-1
                    | Fixed Price
                .posted-time
                  h3.sm 
                  i.fas.fa-clock.m-1
                  | Created 5 minutes ago
                .status
                  h3.sm 
                  i.fas.fa-check-circle.m-1
                  | Completed
            a.single-job(href='#').jobs-card.shadow
              .job-card
                .job-title
                  h3.text-primary I am Looking for a content writer who is 
                  | going to be able to write content for our upcomming website
                .job-details.grid-3
                  .price
                    h3.sm 
                      i.fas.fa-dollar-sign.m-1
                      | Fixed Price
                  .posted-time
                    h3.sm 
                    i.fas.fa-clock.m-1
                    | Created 5 minutes ago
                  .status
                    h3.sm 
                    i.fas.fa-check-circle.m-1
                    | Pending
            a.single-job(href='#').jobs-card.shadow
              .job-card
                .job-title
                  h3.text-primary I am Looking for a content writer who is 
                  | going to be able to write content for our upcomming website
                .job-details.grid-3
                  .price
                    h3.sm 
                      i.fas.fa-dollar-sign.m-1
                      | Fixed Price
                  .posted-time
                    h3.sm 
                    i.fas.fa-clock.m-1
                    | Created 5 minutes ago
                  .status
                    h3.sm 
                    i.fas.fa-check-circle.m-1
                    | Completed
