extends base
block content
  main.main 
    .card-container
      each job in jobs
        .card 
          .card__header
            h3.heading-tertiary
              span= job.name
          .card__details
            h4.car__sub-heading Fantastic tuttors
