extends base
block content
  //- Create a job posting
  section.job-post
    .container.p-3
      form.form.job-form
        .posting.shadow
          .name.p-1.shadow
            h2.sm
              | What is your topic?
            .form-control
              input#jobsname.shadow(type='text' name='name'  size='30' required)
          .category.p-1.shadow
            h3.sm Job Category
            p.sm
              | Let us help you categorize your job, which helps us personalize your job details
            .selection
              select
                option None
                option Inbound Marketing (e.g. onsite blog posts)
                option Promotional Blog Post (e.g. product reviews)
                option Thought Leader (e.g. white papers)
                option Press Releases
                option Book Report Writing
                option Research Paper Writing
                option Literature Review Writing
                option Capstone Project Writing
                option Movie Review Writing
                option Personal Statement
                option Lab Report Writing
                option Case Study Writing
                option Dissertation Writing
                option Thesis Writing
                option Essay Writing
          
          .duration.p-1.shadow
            h3.sm
              i.fas.fa-clock.m-1 
              | Date Due 
            .form-control
              input#date-due(type='date')
          .budget.p-1.shadow
            h3.sm
              i.fas.fa-dollar-sign.m-1 
              | Your Budget 
            .form-control
              input#price(type='text')
          .description.p-1.shadow 
            h3.sm Job Description 
            p.lead Tell us more about your job 
            .form-control
              textarea#textarea.shadow(placeholder='Job instructions' rows='4' cols='40')
            .clarification.p-1
              h3.sm For further clarification you can attach  your files
              .form-control.m-1
                i.fas.fa-paperclip.fa-1x.m-1
                input.form-upload.py-1(type='file' accept='.doc, .pdf, .docx' id='document' name='document' value='attach document')
                label.lead.shadow.p-1(for='document') attach document
          .p-3
            .input.btn.btn-primary(type='submit' value='post Job') Post Job
