extends base
block content
  //- Create a job posting
  main.main
      section.jobposting__section
        .container.grid
          .my-4.p-2
            .header__section
              h2.md.text-center.my-2 Tell us about your Job
            .user-view__form
              .card
                form.form.form-user-data.my-1
                  .form__group.p-1
                    p.sm Select your category
                    select#job_category.form__control.selection(name="job_category" required="")
                      option(value="") ---------------
                      option(value="") Accounting
                      option(value="") creating writing
                      option(value="") Content writing
                      option(value="") Literature review
                      option(value="") Accounting
                      option(value="") creating writing
                      option(value="") Content writing
                      option(value="") Literature review
                      option(value="") Accounting
                      option(value="") creating writing
                      option(value="") Content writing
                      option(value="") Literature review
                  .form__group.p-1
                    p.sm What do you need?
                    input#title.form__control.title(type="text" required="" name="title")
                  .form__group.p-1
                    p.sm Give a brief description about your project here(Min 200 characters)
                    textarea#description.form__control.description(rows="10" cols="40" maxlength="2000" required="" minlength="200")
                  .form__group.p-1
                    .date.m-1
                      p.sm Date due
                      input#date_due.form__control(type="date" name="date_due")
                    .budget
                      p.sm What's your budget
                      input.form__control.budget(type="text" required="" name="budget")
                  .form__group.form__document-upload.my-1.p-1
                    p.sm For further clarification you can attach a document
                    input#document(type="file" name="document")
                    label.text-primary.m-1(for="document") Attach a document
                  .form__group.my-1.p-3
                    button.btn.btn--small Post Job
