extends base
block content
  section.showcase.resetPassword
    .container.grid
      h3.md Reset Your Password
      .showcase-form.resetPassword-form.card
        form.form-group
          .form-control
            label(for='password') Password
            input#password(type='password' name='password' placeholder='••••••••' required)
          .form-control
            label(for='passwordConfirm') Confirm Password
            input#password(type='password' name='password' placeholder='••••••••' required)
          input.btn.btn-primary(type='submit' value='Reset Password')
