extends base
block content
  .center
    .title
      h3 Reset Your password
      form.form.form__resetPassword
        .txt_field
          label.form__label(for='password') Password
          input#password.text_area(type='password' placeholder='••••••••')
        .text_field
          label.form__label(for='passwordConfirm') Confirm Password 
          input#passwordConfirm.text_area(type='password' placeholder='••••••••')
        input.btn(type='submit' value='Reset Password')
