extends base
block content
  .center
    .title
      h3 Sign Up for your New Account
      form.form.form__signup
        .txt_field
          label Full Names 
          input#name.text_area(type='text' placeholder='full names')
        .txt_field
          label Email 
          input#email.text_area(type='email' placeholder='you@example.com')
        .text_field
          label Password 
          input#password.text_area(type='password' placeholder='••••••••')
        .text_field
          label Confirm Password 
          input#passwordConfirm.text_area(type='password' placeholder='••••••••')
        input.btn(type='submit' value='Sign Up')
        .signup__link
          h4 Already have an account? 
            a(href='/login') Log In
